.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    -moz-osx-font-smothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    font-size: x-small;
}
.card-container:hover{
    transform:scale(1.05);
}
.card-container img{
    width: 100%;
}